body {
	background-color: #191919;
	color: white;
	font-family: sans-serif;
	font-size: 16px;
	text-align: center;
	line-height: 1.5;
	margin: 0;
	padding: 0;
}

.row {
	display: flex;
	flex-wrap: nowrap;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
	max-width: 960px;
	padding: 0 15px;
}

form, .result {
	width: max-content;
	display: flex;
	justify-content: center;
	background-color: rgba(256, 256, 256, 0.2);
	border: 1px solid white;
	border-radius: 15px;
}

form input, form select {
	padding: 1rem;
}

form input:nth-child(1) {
	border-radius: 15px 0 0 15px;
}

form input:nth-child(3) {
	border-radius: 0 15px 15px 0;
}

.result {
	margin-top: 50px;
	padding: 1rem;
}

.col-12 {
	flex: 0 0 100%;
	max-width: 100%;
	padding: 0 15px;
}

.credit {
	text-align: center;
	color: #ff6b08;
	margin-top: 50px;
}

a {
	color: #ff6b08;
}

a:hover {
	color: #ff6b08;
	text-decoration: none;
}